{# empty Twig template #}

{% extends 'layout.html.twig' %}

{% block body %}
    
    <h1>Droits d'accès aux ressources</h1>

    <p style="font-size: 25px; color: #d9534f; margin-top: 25px;"> Vous n'avez pas droit à cette ressource avec vos privilèges, Veuillez vous rapprocher de l'administrateur ou ecrire à webmaster@uac.bj</p>

{% endblock %}