{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Soumission d'une Publication Scientifique</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}


