{% extends 'layout.html.twig' %}

{% block body %}
    <h3> <i class="glyphicon glyphicon-plus-sign"></i> Importation d'une liste d'Article</h3>

    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Importation de Fichier</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Transférer un fichier au format Excel. Votre fichier doit avoir  les Champs <b>Titre, Journal, Auteurs, Mots Clés, Résumé et Année de Publication</b></div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Configuration du Fichier</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Fichier importé! Veuillez à présent renseigner les colonnes d'entête qui correspondent à chaque rubrique  <b>Titre, Journal, Auteurs, Mots Clés, Résumé et Année de Publication</b></div>
        </div>

        <div class="col-xs-4 bs-wizard-step active"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Confirmation</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"> Confirmation!</strong> Les articles ont été ajoutés avec succès !</div>
        </div>
    </div>

    <div class="alert alert-success" role="alert">
        <p style="font-size: 22px;"> Importation de {{ nbre }} articles effectué avec succès !</p>
    
    
    </div>
    {% endblock %}


